# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st # stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [ ]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [ ]:
print(f"""
      Legendary: {pokemon[pokemon['Legendary'] == True]['Legendary'].value_counts()}\n 
      Non legendary: {pokemon[pokemon['Legendary'] == False]['Legendary'].value_counts()}
      """)

      Legendary: Legendary
True    65
Name: count, dtype: int64

      Non legendary: Legendary
False    735
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
legendary_pokemons = pokemon[pokemon['Legendary'] == True]
legendary_pokemons['Total'].mean()

np.float64(637.3846153846154)

In [6]:
legendary_pokemons['Total'].std()

np.float64(60.93738905315344)

In [8]:
non_legendary_pokemons = pokemon[pokemon['Legendary'] == False]
non_legendary_pokemons['Total'].mean()

np.float64(417.21360544217686)

In [9]:
non_legendary_pokemons['Total'].std()

np.float64(106.76041745713005)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
# cleanup
legendary_pokemons.dropna(inplace=True)
non_legendary_pokemons.dropna(inplace=True)

/var/folders/mw/fk43c9sj50d252zw3crnw2080000gn/T/ipykernel_3548/1409671937.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  legendary_pokemons.dropna(inplace=True)
/var/folders/mw/fk43c9sj50d252zw3crnw2080000gn/T/ipykernel_3548/1409671937.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_legendary_pokemons.dropna(inplace=True)

In [14]:
# Perform two-sample t-test for independent samples
t_stat, p_value = st.ttest_ind(legendary_pokemons['Total'], non_legendary_pokemons['Total'], equal_var=False) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

# Significance level
alpha = 0.05

Test Statistic (t): 19.06
P-Value: 0.0000

What do you conclude from this test? Write your conclusions below.

In [15]:
# Your conclusions here:

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean total points for legendary and non legendary Pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean total points are different for legendary and non legendary Pokemons.")

Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean total points are different for legendary and non legendary Pokemons.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
# Create a frequency table for 'Type 1' as a DataFrame
type1 = pokemon['Type 1'].value_counts().reset_index()
type1.columns = ["type_1", "count"]

type1

      type_1  count
0      Water    112
1     Normal     98
2      Grass     70
3        Bug     69
4    Psychic     57
5       Fire     52
6   Electric     44
7       Rock     44
8     Dragon     32
9     Ground     32
10     Ghost     32
11      Dark     31
12    Poison     28
13     Steel     27
14  Fighting     27
15       Ice     24
16     Fairy     17
17    Flying      4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [20]:
water_pokemons = pokemon[pokemon['Type 1'] == 'Water']
non_water_pokemons = pokemon[pokemon['Type 1'] != 'Water']

water_mean = water_pokemons['Total'].mean()
water_std = water_pokemons['Total'].std()

non_water_mean = non_water_pokemons['Total'].mean()
non_water_std = non_water_pokemons['Total'].std()

print(f"Water-type Pokemon - Mean: {water_mean:.2f}, Std Dev: {water_std:.2f}")
print(f"Other Pokemon - Mean: {non_water_mean:.2f}, Std Dev: {non_water_std:.2f}")

Water-type Pokémon - Mean: 430.46, Std Dev: 113.19
Other Pokémon - Mean: 435.86, Std Dev: 121.09

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [21]:
# Perform two-sample t-test for independent samples
t_stat, p_value = st.ttest_ind(water_pokemons['Total'], non_water_pokemons['Total'], equal_var=True) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

# Significance level
alpha = 0.05

Test Statistic (t): -0.44
P-Value: 0.6587

Write your conclusion below.

In [22]:
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean total points for water and non water Pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean total points are different for water and non water Pokemons.")

Fail to Reject the Null Hypothesis: The mean total points for water and non water Pokemons are not significantly different.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [25]:
defense = pokemon['Defense']
attack = pokemon['Attack']

In [26]:
# Perform paired t-test
t_stat, p_value = st.ttest_rel(defense, attack)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()

# Significance level
alpha = 0.05

Test Statistic (t): -4.33
P-Value: 0.00001714030347935855799128106180528874347146484070

Describe the results of the test in the cell below.

In [27]:
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between defense and attack scores for Pokemons.")
else:
    print("Reject the Null Hypothesis: There is a significant difference between defense and attack scores for Pokemons.")

Reject the Null Hypothesis: There is a significant difference between defense and attack scores for Pokemons.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [28]:
sp_defense = pokemon['Sp. Def']
sp_attack = pokemon['Sp. Atk']

# Perform paired t-test
t_stat, p_value = st.ttest_rel(sp_defense, sp_attack)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()

# Significance level
alpha = 0.05

Test Statistic (t): -0.85
P-Value: 0.39336859975481219819926081981975585222244262695312

Describe the results of the test in the cell below.

In [29]:
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between special defense and special attack scores for Pokemons.")
else:
    print("Reject the Null Hypothesis: There is a significant difference between special defense and special attack scores for Pokemons.")

Fail to Reject the Null Hypothesis: No significant difference between special defense and special attack scores for Pokemons.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [33]:
defense.describe().T

count    800.000000
mean      73.842500
std       31.183501
min        5.000000
25%       50.000000
50%       70.000000
75%       90.000000
max      230.000000
Name: Defense, dtype: float64

In [34]:
attack.describe().T

count    800.000000
mean      79.001250
std       32.457366
min        5.000000
25%       55.000000
50%       75.000000
75%      100.000000
max      190.000000
Name: Attack, dtype: float64

In [36]:
difference = attack - defense
difference

0        0
1       -1
2       -1
3      -23
4        9
      ...
795    -50
796     50
797     50
798    100
799    -10
Length: 800, dtype: int64

In [39]:
t_stat, p_value = st.ttest_1samp(difference, 0, alternative='two-sided')

print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

# Significance level
alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: the difference between the means of defense and attack scores is NOT zero.")
else:
    print("Reject the Null Hypothesis: the difference between the means of defense and attack scores is zero.")

Test Statistic (t): 4.33
P-Value: 0.0000

Reject the Null Hypothesis: the difference between the means of defense and attack scores is zero.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: